body{
    background-color: #01579b;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btnConfirm {
    padding: 10px 20px;
    border-radius: 10px;
    transition: .3s ease-in-out;
    border : none;
    font-size: 20px;
}
.btnConfirm:hover{
    padding : 12px 25px; 
    background-color:  #7986cb;
    font-size: 21px;
    color:white;
}
.controller{
    display: flex;
    justify-content: space-around;
    width:300px;
}